fieldset.module.aligned.hiddenAll div.form-row{
  display: none;
}
fieldset.module.aligned.hiddenAll input{
  value: none;
}
fieldset.module.aligned.hiddenAll.Bol div.form-row.field-bool_value{
  display: block;
}
fieldset.module.aligned.hiddenAll.Int div.form-row.field-int_value{
  display: block;
}
fieldset.module.aligned.hiddenAll.Flo div.form-row.field-float_value{
  display: block;
}
fieldset.module.aligned.hiddenAll.Txt div.form-row.field-text_value{
  display: block;
}